.artiste {
	font-family: roboto;
	size: 12px;
	color: #0d6001;
	margin-left: 300px;
	font-size: 22px;
	font-weight:bold;
	height:210px;
}

 .insta{
text-align: center;
float: right;
margin-right: 30px;

}

.appli{
text-align: center;
border-radius: 5px;
display: block;
background-image: url(images2/appli.png);
background-size: contain;
height: 40px;
width: 40px;
float: right;
margin-right: 40px;
}

.fb{
text-align: center;
float: right;
margin-right: 40px;
}


.bandeau {
	display:flex;
	flex-direction: row;
	padding: 5px;
	background-color: white;
}

.login {
	font-family: 'Roboto Condensed', sans-serif;
	color: 	#18c210;
	background-color: none;
	border-style: solid;
	border-color: #18c210;
	border-radius: 7px; 
	height: 25px; 
	width: 75px; 
	text-align: center;
	border-width: 1px; 
	margin-top: 25px; 
	padding-bottom: 25px; 
}
.signup {
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	background-color: #18c210;
	border-style: solid;
	border-color: #18c210;
	border-radius: 7px; 
	height: 25px; 
	width: 150px; 
	text-align: center;
	border-width: 1px; 
	margin-top: 25px; 
	padding-bottom: 25px; 
	border-width: 1px; 
	margin-left: 20px;

	}
.logo {
	margin-left: 20px;
	margin-top: 15px; 
}


.jul{
	background-image: url(images2/jul.jpg);
	display: block;
	background-position: 20% 50%;
	height: 200px;
	width: 200px;
	border-radius: 999px;
	border width: 0.5px;
	background-size: contain;
    float: left;
    margin-left:70px;
    margin-top: 40px;

}

.presentation{
background-color: white;
}

body{
	margin-right: 160px;
	margin-left: 160px;
	background-color: #f2f2f2;

}

.album{

font-family: roboto;
size: 10px;
color: #0d6001;
margin-left: 60px;
}

.container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-content: center; flex-wrap: wrap;
	background-color: white;
}

.children1{
display: block;
margin: 5px auto 5px auto;
font-size: 10px;
font-family: roboto;
}

.children2{
display: block;
margin: 5px auto 5px auto;
font-size: 10px;
font-family: roboto;
}

.children3{
display: block;
margin: 5px auto 5px auto;
font-size: 10px;
font-family: roboto;
}

.morceaux{
font-family: roboto;
size: 10px;
color: #0d6001;
margin-left: 60px;
font-size: 12px;
}

.table{
width: 100%;
}

.text{
margin: 0 auto;
font-family: roboto;
text-align: left;
margin-left: 70px; 

}

.grostitre{
font-weight: 90;
font-size: 50px;
}


.artiste2{
font-family: roboto;
size: 10px;
color: #0d6001;
margin-left: 60px;
}

.container2 {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-content: center; flex-wrap: wrap;
	background-color: white;
}

.sim1{
display: block;
margin: 5px auto 5px auto;
font-size: 10px;
font-family: roboto;
background-image: url(images2/sim1.jpg);
display: block;
background-position: 50% 50%;
height: 200px;
width: 200px;
border-radius: 999px;
border width: 0.5px;
background-size: contain;
vertical-align: bottom;
margin-bottom: 40px;
}

.sim2{
display: block;
margin: 5px auto 5px auto;
font-size: 10px;
font-family: roboto;
background-image: url(images2/sim2.jpg);
display: block;
background-position: 50% 50%;
height: 200px;
width: 200px;
border-radius: 999px;
border width: 0.5px;
background-size: contain;
text-align: bottom;
}

.sim3{
display: block;
margin: 5px auto 5px auto;
font-size: 10px;
font-family: roboto;
background-image: url(images2/sim3.jpg);
display: block;
background-position: 50% 50%;
height: 200px;
width: 200px;
border-radius: 999px;
border width: 0.5px;
background-size: contain;
text-align: bottom;
}
